.main-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 41, 82);
  padding: 20px;
  gap: 2rem;
  a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: 300;
    font-size: 1em;
    transition: .3s all ease-in-out;
    &:hover{
      color: #2c2c2c;
    }
  }
}
