<div class="content-title"><h3>Pipe</h3></div>
<div class="content-exercices">
  <div>
    <p>Valeur de ma chaine de caractere sans pipe : {{maChaine}}</p>
    <p>Uppercase Pipe : {{maChaine | uppercase}}</p>
    <p>Lowercase Pipe : {{maChaine | lowercase}}</p>
    <p>Title Case Pipe : {{maChaine | titlecase}}</p>
  </div>
  
  <div>
    <p>Valeur de ma date sans Pipe : {{maDate}}</p>
    <p>Formatage de la date : {{maDate | date : "dd/MM/yyyy"}}</p>
  </div>
  
  <div>
    <p>Valeur en degre celcius : {{maTemperature}} °C</p>
    <p>Valeur en Fahrenheit : {{maTemperature | toFahrenheit}} °F</p>
  </div>
</div>